@import "tailwindcss";
.container{
    margin: 40px auto;
    max-width: 1200px;
}

.d-flex{
    display: flex;
}

:root{
    --highlight-color-left:#82C0CC;
    --highlight-color-right:#3943B7;
    --text-color-left:#ffffff;
    --background-color-left:#3943B7;
    --background-color-right:#ffffff;
    --text-color-right:#000505;
}