@import "tailwindcss";
.container{
    @apply mx-auto my-10 max-w-[1200px]
}

.d-flex{
    display: flex;
}
.justify-content-between {
    justify-content: space-between;
}

:root{
    --highlight-color-left:#82C0CC;
    --highlight-color-right:#3943B7;
    --text-color-left:#ffffff;
    --background-color-left:#3943B7;
    --background-color-right:#ffffff;
    --text-color-right:#000505;
}